[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.5"
pandas = "==1.1.5"
python-dateutil = "==2.8.2"
pytz = "==2021.1"
six = "==1.16.0"
click = "*"
tqdm = "*"
requests = "*"
swifter = "*"

[dev-packages]

[requires]
python_version = "3.6"
